.idea/

*.css

app/main.css
app/bower_components/angular/
app/bower_components/angular-route/
app/bower_components/angular-sanitize/
app/bower_components/bootstrap/
app/bower_components/jquery/
app/bower_components/showdown/