body {
  padding-bottom: 30px;
}
#container {
  position: relative;
  margin: auto;
  width: 75%;
  margin-top: 30px;
}
.btn {
  outline: none !important;
}
.btn.toggleEdit {
  width: 58px;
}
.TextArea {
  position: relative;
  height: auto;
  min-height: 44px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: small;
  line-height: 1.2;
}
.TextArea.showOutline {
  border: 1px solid black;
}
.TextArea textarea {
  width: 100%;
  height: 100%;
  resize: vertical;
  border-radius: 4px;
}
.TextArea .togglePreview {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 55px;
  background-color: transparent;
  border-width: 2px;
}
.TextArea .togglePreview:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.MarkDown h1,
.MarkDown h2,
.MarkDown h3,
.MarkDown h4,
.MarkDown h5,
.MarkDown h6 {
  margin-top: 0.75em;
  margin-bottom: 0.2em;
}
.MarkDown h4,
.MarkDown h5,
.MarkDown h6 {
  font-weight: bold;
}
.MarkDown p {
  margin-top: 0.75em;
  margin-bottom: 0.1em;
}
.MarkDown ul,
.MarkDown ol {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  list-style-position: outside;
}
.MarkDown ol,
.MarkDown ul ol,
.MarkDown ul ul ol {
  list-style-type: decimal;
  -webkit-padding-start: 20px;
}
.MarkDown ul ol ol,
.MarkDown ol ol,
.MarkDown ol ul ol {
  list-style-type: lower-alpha;
}
.MarkDown ol ol ol {
  list-style-type: lower-roman;
}
.MarkDown ul {
  list-style-type: disc;
  -webkit-padding-start: 15px;
}
.MarkDown ul ul,
.MarkDown ol ul {
  list-style-type: circle;
}
.MarkDown ul ul ul,
.MarkDown ul ol ul,
.MarkDown ol ul ul,
.MarkDown ol ol ul {
  list-style-type: square;
}
.MarkDown blockquote {
  font-size: inherit;
  margin: 0;
  padding: 0 1em;
  border-left: 0.5em #EEE solid;
}
.MarkDown pre {
  padding: 0.5em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  line-height: 1;
}
.MarkDown pre code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  line-height: 1;
  font-size: 11px;
}
.MarkDown code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  line-height: 1;
  font-size: 11px;
}
.MarkDown a {
  color: #428bca;
  text-decoration: none;
}
.MarkDown a:hover {
  color: #faa700;
}
.MarkDown a:active {
  color: #f66700;
}
